<div class="flex flex-col h-screen bg-gray-800 p-6">
    <nav class="bg-gradient-to-r from-blue-500 to-indigo-600 p-4 rounded-lg shadow-xl mb-6">
      <div class="flex justify-between items-center">
        <img src="https://primefaces.org/cdn/primeng/images/primeng.svg" alt="Logo" class="h-10" />

        <button 
          class="p-3 bg-blue-600 hover:bg-blue-700 text-white rounded-full shadow-lg transition duration-300"
          [routerLink]="['/']">
          <i class="pi pi-home text-2xl"></i>
        </button>
      </div>
    </nav>
  
    <main class="flex-grow bg-gray-900 text-white rounded-lg p-8">
      <h1 class="text-3xl font-semibold mb-4">DISEÑO DE INTERFAZ Y ESPRIENCIA DE USUARIO</h1>
      <p class="text-lg">
        ALEXANDER SARAVIA
        3RO "B"
        DESARROLLO DE SOFTWARE

        DIEGO YANEZ
      </p>
    </main>
  </div>

  <router-outlet></router-outlet>

  <style>
    @media (max-width: 640px) {
      .bg-gradient-to-r {
        background: linear-gradient(to right, #3b82f6, #4f46e5);
      }
  
      .p-8 {
        padding: 4px;
      }
  
      .h-10 {
        height: 30px;
      }

      .text-2xl {
        font-size: 1.5rem;
      }
    }
    
    @media (min-width: 641px) {
      .bg-gradient-to-r {
        background: linear-gradient(to right, #3b82f6, #4f46e5);
      }
  
      .p-8 {
        padding: 2rem;
      }
  
      .h-10 {
        height: 40px;
      }
  
      .text-2xl {
        font-size: 2rem;
      }
    }
  </style>
  